<% include ../partials/header %>

<div class="wrapper">

  <div class="menu group">

    <div class="l-container">

      <span class="menu-icon" onclick="openMenu()" style="color: #000;">&#9776;</span>

    </div>

    <div class="menu-container" id="navbar">

      <span class="closebtn" onclick="closeMenu()">&times</span>

      <div class="menu-content">
        <a href="/blogs">Home</a>
        <!-- will create an about page with mission statement and what-not -->
        <a href="#">About</a>
        <!-- this will link to several ideas about how we can impact meaningful change in our communities -->
        <a href="#">Projects</a>
        <!-- create a contact us panel with socials -->
        <a href="#">Contact Us</a>
        <a href="/signup">Sign Up</a>
        <a href="/login">Login</a>
      </div>
    </div>

  </div>

  <div class="content-boxes">

    <h1>Tweak[s]</h1>

    <form action="/blogs/<%= blog._id %>?_method=PUT" method="POST">

      <div class="row">

        <div class="section zero">

          <div class="content-inputs">

            <h2>Section Zero</h2>

            <div class="box-content">

              <label for="mainHeading">Title*</label>
              <input type="text" name="blog[mainHeading]" id="mainHeading" value="<%= blog.body.header.mainHeading %>" required>

              <div class="group">
                <div class="left">
                  <label for="mainImage">Image*</label>
                  <input type="text" name="blog[mainImage]" id="mainImage" value="<%= blog.body.header.mainImage %>" required>
                </div>

                <div class="right">
                  <label for="tag">Tag*</label>
                  <input type="text" name="blog[tag]" id="tag" value="<%= blog.tag %>" required>
                </div>
              </div>

              <label for="introParagraph">Intro*</label>

              <textarea name="blog[introParagraph]" id="introParagraph" cols="30" rows="5" required>
                <%= blog.body.content.introParagraph %>
              </textarea>
            </div>

          </div>

          <div class="content-text">
            <p>Lorem ipsumdol</p>
            <h2>A story lives and dies with <br>
              the introduction!
            </h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos reiciendis ducimus corrupti recusandae
              eaque
              optio quae ipsa. Neque nihiloptio recusandae nulla imero provident temporibus, quia natus tempor</p>
          </div>

        </div>
      </div>

      <!-- second row starts here -->

      <div class="row">

        <div class="section one">

          <div class="content-text">
            <p>Lorem ipsumdol</p>
            <h2>A story lives and dies with <br>
              the introduction!
            </h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos reiciendis ducimus corrupti recusandae
              eaque
              optio quae ipsa. Neque nihiloptio recusandae nulla imero provident temporibus, quia natus tempor</p>
          </div>

          <div class="content-inputs">

            <h2>Section One</h2>

            <div class="box-content">

              <label for="paragraphOne">Paragraph 1</label>

              <textarea name="blog[paragraphOne]" id="paragraphOne" cols="30" rows="5">
                <%= blog.body.content.sectionOne.paragraphOne %>
              </textarea>

              <label for="paragraphTwo">Paragraph Two</label>

              <textarea name="blog[paragraphTwo]" id="paragraphTwo" cols="30" rows="5">
                <%= blog.body.content.sectionOne.paragraphTwo %>
              </textarea>
            </div>

          </div>

        </div>
      </div>

      <!-- Third row starts here -->

      <div class="row">

        <div class="section two">

          <div class="content-inputs">

            <h2>Section Two</h2>

            <div class="box-content">

              <label for="mediumHeading">Small Heading</label>
              <input type="text" name="blog[mediumHeading]" id="smallHeading" value="<%= blog.body.content.sectionTwo.mediumHeading %>">

              <label for="paragraphThree">Paragraph Three</label>

              <textarea name="blog[paragraphThree]" id="paragraphThree" cols="30" rows="5">
                <%= blog.body.content.sectionTwo.paragraphThree %>
              </textarea>

              <label for="paragraphFour">Paragraph Four</label>

              <textarea name="blog[paragraphFour]" id="paragraphFour" cols="30" rows="5">
                <%= blog.body.content.sectionTwo.paragraphFour %>
              </textarea>

              <label for="paragraphFive">paragraphFive</label>

              <textarea name="blog[paragraphFive]" id="paragraphFive" cols="30" rows="5">
                <%= blog.body.content.sectionTwo.paragraphFive %>
              </textarea>
            </div>

          </div>

          <div class="content-text">
            <p>Lorem ipsumdol</p>
            <h2>A story lives and dies with <br>
              the introduction!
            </h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos reiciendis ducimus corrupti recusandae
              eaque
              optio quae ipsa. Neque nihiloptio recusandae nulla imero provident temporibus, quia natus tempor</p>
          </div>

        </div>
      </div>

      <!-- Fourth Row starts here -->

      <div class="row">

        <div class="section zero">

          <div class="content-text">
            <p>Lorem ipsumdol</p>
            <h2>A story lives and dies with <br>
              the introduction!
            </h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos reiciendis ducimus corrupti recusandae
              eaque
              optio quae ipsa. Neque nihiloptio recusandae nulla imero provident temporibus, quia natus tempor</p>
          </div>

          <div class="content-inputs">

            <h2>Section Three</h2>

            <div class="box-content">

              <label for="smallHeading">Blog Subheading</label>
              <input type="text" name="blog[smallHeading]" id="smallHeading" value="<%= blog.body.content.sectionThree.smallHeading %>">

              <label for="paragraphSix">Paragraph Six</label>

              <textarea name="blog[paragraphSix]" id="paragraphSix" cols="30" rows="5">
                <%= blog.body.content.sectionThree.paragraphSix %>
              </textarea>

              <label for="paragraphSeven">Paragraph Seven</label>
                
              <textarea name="blog[paragraphSeven]" id="paragraphSeven" cols="30" rows="5">
                <%= blog.body.content.sectionThree.paragraphSeven %>
              </textarea>

              <div class="group">
                <div class="left">
                  <label for="smallerHeading">Smaller Heading</label>
                  <input type="text" name="blog[smallerHeading]" id="smallerHeading" value="<%= blog.body.content.sectionThree.smallerHeading %>">
                </div>

                <div class="right">
                  <label for="blogImage">Blog Image*</label>
                  <input type="text" name="blog[blogImage]" id="blogImage" value="<%= blog.body.content.sectionThree.blogImage %>" required>
                </div>
              </div>

              <label for="paragraphEight">Paragraph Eight</label>
              <textarea name="blog[paragraphEight]" id="paragraphEight" cols="30" rows="5">
                <%= blog.body.content.sectionThree.paragraphEight %>
              </textarea>

              <label for="paragraphNine">Paragraph Nine</label>
              <textarea name="blog[paragraphNine]" id="paragraphNine" cols="30" rows="5">
                <%= blog.body.content.sectionThree.paragraphNine %>
              </textarea>

            </div>

          </div>

        </div>
      </div>

      <!-- Fifth Row starts here -->
      <div class="row">

        <div class="section zero">

          <div class="content-inputs">

            <h2>Section Four</h2>

            <div class="box-content">

              <label for="smallestHeading">Smallest Heading*</label>
              <input type="text" name="blog[smallestHeading]" id="smallestHeading" value="<%= blog.body.content.sectionFour.smallestHeading %>" required>

              <label for="lastParagraph">Last Paragraph*</label>

              <textarea name="blog[lastParagraph]" id="lastParagraph" cols="30" rows="10" required>
                <%= blog.body.content.sectionFour.lastParagraph %>
              </textarea>
            </div>

          </div>

          <div class="content-text">
            <p>Lorem ipsumdol</p>
            <h2>A story lives and dies with <br>
              the introduction!
            </h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos reiciendis ducimus corrupti recusandae
              eaque
              optio quae ipsa. Neque nihiloptio recusandae nulla imero provident temporibus, quia natus tempor</p>
          </div>

        </div>
      </div>

      <input type="submit" value="save">
  </div>
  </form>

</div>
</div>

<script>
  function closeMenu() {
    document.getElementById("navbar").style.height = "0%";
  }

  function openMenu() {
    document.getElementById("navbar").style.height = "100%";
  }
</script>

<% include ../partials/footer %>