<% include ../partials/header %>

<div class="container">

  <div class="hero">
    <h1>
      <a href="/">My Life</a>
    </h1>
    
    <!-- header image will be replaced by signed in user's image -->
    <div class="header">
      <img src="https://avatars1.githubusercontent.com/u/40425600?s=460&u=70aad7d62f88901146fa06477a3604a62ad375e9&v=4" alt="tinashe daniel image">
      <h2>Hello.</h2>
      <p>My name is Dan and I write passionately about life, music and web development.</p>
      <a href="#" class="hero-btn hero-btn-full">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#" class="hero-btn hero-btn-ghost">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
  </div>

  <div class="showcase">

    <div class="group">
      <div class="right-menu">
        <i class="fas fa-bars"></i>
      </div>
    </div>

    <div class="showcase-boxes">
      <!-- create a box for every blog in database with data from the "/blogs" Index route-->
      <% foundBlogs.forEach(function(blog) { %>
        <div class="showcase-box">

        <!-- link will go to the blog show route-->
        <a href="/blogs/<%= blog._id %>">
          <img src="<%= blog.body.header.mainImage %>" alt="coffee music and gaming">
        </a>

          <div class="showcase-card">

            <div class="author-card">
              <div class="card-image">
                <!-- generic card image will be replaced by user image from the user schema -->
                <img
                  src="https://avatars1.githubusercontent.com/u/40425600?s=460&u=70aad7d62f88901146fa06477a3604a62ad375e9&v=4"
                  alt="author image">
              </div>

              <div class="card-text">
                <!-- generic mini-card h5 heading will be replaced by blog author from blog schema-->
                <h3>Tinashe Dan</h3>
                <p><%= blog.createdAt.toLocaleDateString() %></p>
              </div>
            </div>

            <!-- display dynamic blog tag by use of a conditional (if/else statement) -->
            <div class="card-tag">
              <% if(blog.tag == "Life") { %>
                <a href="#" class="green"><%= blog.tag %></a>
              <% } else if (blog.tag == "Code") { %>
              <a href="#" class="yellow"><%= blog.tag %></a>
              <% } else if (blog.tag == "Music") { %>
              <a href="#" class="purple"><%= blog.tag %></a>
              <% } else if (blog.tag == "Self") { %>
              <a href="#" class="red"><%= blog.tag %></a>
              <% } %>
            </div>

          </div>
        </div>
      <% }) %>
      </div>

      <footer>
        <p>
          Copyright &copy; <a href="#">THP</a>. Inspired by <a href="http://template-my-life.webflow.io/" target="_blank"> Webflow </a>
        </p>
      </footer>
    </div>

  </div>

</div>


<% include ../partials/footer %>

<!-- Notes for further developent -->
<!-- elements to be changed to variables 

  1. .hero h1
  2. .header img
  3. .header h2
  4. .header p
  
  figure out how to put dynamic social media links there

-->