<% include ../partials/header %>

<div class="container">

  <!-- Displaying dynamic user data -->
  <% if(currentUser) { %>
    <div class="hero">
      <h1>
        <a href="/blogs">My Life</a>
      </h1>
    
      <!-- header image will be replaced by signed in user's image -->
      <div class="header">
        <a href="#">
          <img src="<%= currentUser.avatarUrl %>" alt="author image">
        </a>
        <h2>Hello.</h2>
    
        <p><%= currentUser.bio %></p>
    
        <!-- will implement the use of dynamic social links -->
        <a href="#" class="hero-btn hero-btn-full">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#" class="hero-btn hero-btn-ghost">
          <i class="fab fa-twitter"></i>
        </a>
    
        <!-- dynamic user data ends here -->
      </div>
    </div>
  <% } %>

  <% if(!currentUser) { %>
    <div class="hero">
      <h1>
        <a href="/blogs">My Life</a>
      </h1>
    
      <div class="header">
        <a href="#">
          <!-- dynamic placeholder avatar -->
          <img src="https://i.pravatar.cc/300" %>" alt="author image">
        </a>
        <h2>Hello.</h2>
    
        <p>I'm Dej and travelling the globe is my passion. Well, let's see what our 'new normal' looks like. Hi Rona! 😅😆</p>
    
        <a href="https://instagram.com/nashe_dan" target="_blank" class="hero-btn hero-btn-full">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://twitter.com/tinashy_dan" target="_blank" class="hero-btn hero-btn-ghost">
          <i class="fab fa-twitter"></i>
        </a>
    
      </div>
    </div>
  <% } %>

  <div class="showcase">

    <div class="group">
      <div class="right-menu">
        <i class="fas fa-bars"></i>
      </div>
    </div>

    <div class="showcase-boxes">
      <!-- create a box for every blog in database with data from the "/blogs" Index route-->
      <% foundBlogs.forEach(function(blog) { %>
        <div class="showcase-box">

        <!-- link will go to the blog show route-->
        <a href="/blogs/<%= blog._id %>">
          <img src="<%= blog.body.header.mainImage %>" alt="coffee music and gaming">
        </a>

          <div class="showcase-card">

            <div class="author-card">
              <div class="card-image">
                <!-- generic card image will be replaced by user image from the user schema -->
                <a href="#">
                  <img
                    src="https://i.imgur.com/f89JM9hm.png"
                    alt="author image">
                </a>
              </div>

              <div class="card-text">
                <!-- generic mini-card h5 heading will be replaced by blog author from blog schema-->
                <h3><a href="#">Tinashe Dan</a></h3>
                <p><%= blog.createdAt.toLocaleDateString() %></p>
              </div>
            </div>

            <!-- display dynamic blog tag by use of a conditional (if/else statement) -->
            <div class="card-tag">
              <% if(blog.tag == "Life") { %>
                <a href="#" class="green"><%= blog.tag %></a>
              <% } else if (blog.tag == "Code") { %>
              <a href="#" class="yellow"><%= blog.tag %></a>
              <% } else if (blog.tag == "Music") { %>
              <a href="#" class="purple"><%= blog.tag %></a>
              <% } else if (blog.tag == "Self") { %>
              <a href="#" class="red"><%= blog.tag %></a>
              <% } %>
            </div>

          </div>

        </div>

        <div class="showcase-text">
          <h2><a href="/blogs/<%= blog._id %>"><%= blog.body.header.mainHeading %></a></h2>
          <p><%= blog.body.content.introParagraph.substring(0, 150) %>...</p>

          <div class="show-link">
            <a href="/blogs/<%= blog._id %>">Read More</a>
          </div>
          <hr>
        </div>
      <% }) %>
      </div>

      <footer>
        <p>
          Copyright &copy; <a href="#">THP</a>. Inspired by <a href="http://template-my-life.webflow.io/" target="_blank"> Webflow </a>
        </p>
      </footer>
    </div>

  </div>

</div>


<% include ../partials/footer %>

<!-- Notes for further developent -->
<!-- elements to be changed to variables 

  1. .hero h1
  2. .header img
  3. .header h2
  4. .header p
  
  figure out how to put dynamic social media links there

-->