<% include ../partials/header %>

<div class="container">

  <div class="l-container">

    <span class="menu-icon" onclick="openMenu()">&#9776;</span>

  </div>

  <div class="menu-container" id="navbar">

    <span class="closebtn" onclick="closeMenu()">&times</span>

    <div class="menu-content">
      <a href="/">Home</a>
      <a href="/blogs/new">Create</a>
      <!-- this will link to several ideas about how we can impact meaningful change in our communities -->
      <a href="/projects">Projects</a>
      <!-- create a contact us panel with socials -->
      <a href="#">Contact Us</a>
      <!-- will create an about page with mission statement and what-not -->
      <a href="#">About</a>
      <% if (!currentUser) { %>
        <a href="/signup">Sign Up</a>
        <a href="/login">Login</a>
      <% } %>
      <% if (currentUser) { %>
        <a href="/logout">Logout</a>
      <% } %>
    </div>
  </div>

  <!-- Displaying dynamic user data -->
  <% if(currentUser) { %>
    <div class="hero">
      <div class="hero__header">
        <a href="#" class="hero__header--link">
          <img class="hero__header--image" src="<%= currentUser.avatarUrl %>" alt="urafro blog author image">
        </a>
        <div class="hero__body">
          <h2 class="hero__body--mainTitle">
            <%= currentUser.username %> <span class="hero__body--subTitle">/ urAfro writer</span>
          </h2>
          <p class="hero__body--desc"><%= currentUser.bio %></p>    
          <!-- will implement the use of dynamic social links -->
          <a class="hero__body--link" href="#" class="hero-btn hero-btn-full">
            <i class="fab fa-instagram hero__body--linkIcon"></i>
          </a>
          <a class="hero__body--link" href="#" class="hero-btn hero-btn-ghost">
            <i class="fab fa-twitter hero__body--linkIcon"></i>
          </a>
        </div>
        <!-- dynamic user data ends here -->
      </div>
    </div>
  <% } %>

  <!-- Display our 'welcome details' if no user is logged in -->
  <% if(!currentUser) { %>
    <div class="hero">
    
      <div class="hero__header">
        <a href="#" class="hero__header--link">
          <img class="hero__header--image" src="https://i.imgur.com/f89JM9hs.png" %>" alt="urafro founder image">
        </a>

        <div class="hero__body">
          <h2 class="brand hero__body--mainTitle">urAfro</h2>
    
          <p class="hero__body--desc">Translating an idea into a practical solution can be hard alone. <a href="/signup">Join us</a> and let's make
          change!</p>
    
          <a class="hero__body--link" href="https://instagram.com/official_urafro" target="_blank" class="hero-btn hero-btn-full">
            <i class="fab fa-instagram hero__body--linkIcon"></i>
          </a>
          <a class="hero__body--link" href="https://twitter.com/official_urafro" target="_blank" class="hero-btn hero-btn-ghost">
            <i class="fab fa-twitter hero__body--linkIcon"></i>
          </a>
        </div>
      </div>
    </div>
  <% } %>

  <div class="showcase">
  
    <div class="showcase__writers">
      <div class="showcase__writersContainer">
        <h2 class="showcase__writersContainer--title"><a href="#" class="showcase__writersContainer--mainLink">Old heads young shoulders</a></h2>
        <p class="showcase__writersContainer--paragraph">
          <span class="brand">#Welcome</span>&nbsp; to urafro two-minute-reads. Articles will be posted below when ready. Cheers 🙂
        </p>
        <a href="/projects" class="btn btn-full showcase__writersContainer--link">meet the writers</a>
      </div>
      <div class="showcase__writers--empty"></div>
    </div>

    <section class="showcase__separator">
      <h5 class="showcase__separator--title">
        <!-- text deleted 'start reading now?'-->
        <i class="fas fa-hand-point-down showcase__separator--titleIcon"></i> good comes here
      </h5>
    </section>

    <div class="showcaseBoxes">
      
      <!-- create a box for every blog in database with data from the "/blogs" Index route-->
      <% foundBlogs.forEach(function(blog) { %>
      <div class="showcaseBoxes__box">

        <!-- image link directing user to the blog show route-->
        <a class="showcaseBoxes__box--link" href="/blogs/<%= blog._id %>">
          <img class="showcaseBoxes__box--linkImage" src="<%= blog.body.header.mainImage %>" alt="urafro blog main image">
        </a>

          <!-- create card fixed to the top of showcaseBoxes__box with blog author & blog tag data -->
          <div class="showcaseCard">
            <div class="showcaseCard__author">
              <div class="showcaseCard__author--imgContainer">
                <!-- card image showing user image from the user schema -->
                <a class="showcaseCard__author--imgLink" href="#"> 
                  <img class="showcaseCard__author--image" src="<%= blog.author.avatarUrl %>" alt="urafro blog author image">
                </a>
              </div>

              <div class="showcaseCard__text">
                <!-- h5 heading showing blog author from blog schema-->
                <h3 class="showcaseCard__text--title">
                  <a class="showcaseCard__text--titleLink" href="#">
                    <%= blog.author.username %>
                  </a>
                </h3>
                <p class="showcaseCard__text--paragraph">
                  <%= blog.createdAt.toLocaleDateString() %>
                </p>
              </div>
            </div>

            <!-- display dynamic blog tag by use of a conditional -->
            <div class="showcaseCard__tag">
              <% if(blog.tag == "Self") { %>
                <a class="showcaseCard__tag--link green" href="#"><%= blog.tag %></a>
              <% } else if (blog.tag == "Society") { %>
                <a class="showcaseCard__tag--link yellow" href="#"><%= blog.tag %></a>
              <% } else if (blog.tag == "Tech") { %>
                <a class="showcaseCard__tag--link purple" href="#"><%= blog.tag %></a>
              <% } else if (blog.tag == "Money") { %>
                <a class="showcaseCard__tag--link red" href="#"><%= blog.tag %></a>
              <% } %>
            </div>
          </div>
        </div>

        <!-- 
          STARTING FROM HERE NEXT!!
        -->
        <div class="showcaseText">
          <div class="showcaseText__head">
            <h3 class="showcaseText__head--title">
              <a class="showcaseText__head--titleLink" href="/blogs/<%= blog._id %>">
                <%= blog.body.header.mainHeading %>
              </a>
            </h3>
            <p class="showcaseText__paragraph">
            <!-- Dynamically show blog intro paragraph sub string -->
              <% if (blog.body.content.introParagraph.length > 145) { %>
              <%= blog.body.content.introParagraph.substring(0, 145) %>...
              <% } else { %>
              <%= blog.body.content.introParagraph.substring(0, 145) %>  
              <% } %>
            </p>
          </div>
          <div class="showcaseText__link">
            <a class="showcaseText__link--anchorTag" href="/blogs/<%= blog._id %>">Read More</a>
          </div>          
        </div>
      <% }) %>
      </div>

      <footer class="showcase__footer">
        <p class="showcase__footer--paragraph">
          Copyright &copy; 2021 <span>urAfro</span>. All rights reserved. Invest in a peer, believe in WE.
        </p>
      </footer>
    </div>
  </div>

</div>

<% include ../partials/footer %>