<% include ../partials/header %>

<div class="container">

  <!-- declare show hero background image as inline css to access ejs data -->
  <div class="hero-2" style="background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('<%= blog.body.header.mainImage %>'); background-position: center; background-repeat: no-repeat;">
    <h1>
      <a href="/">My Life</a>
    </h1>

    <div class="header-2">
      <h2><%= blog.body.header.mainHeading %></h2>

      <div class="author-card">
        <div class="card-image">
          <!-- generic card image will be replaced by user image from the user schema -->
          <img
            src="https://avatars1.githubusercontent.com/u/40425600?s=460&u=70aad7d62f88901146fa06477a3604a62ad375e9&v=4"
            alt="author image">
        </div>

        <div class="card-text">
          <!-- generic mini-card h5 heading will be replaced by blog author from blog schema-->
          <h3><a href="#">Tinashe Dan</a></h3>
          <p><%= blog.createdAt.toLocaleDateString() %></p>
        </div>
      </div>
      
    </div>
  </div>

  <div class="showcase-2">
    <div class="group">
      <div class="right-menu">
        <i class="fas fa-bars"></i>
      </div>
    </div>

    <div class="show-wrapper">
      <div class="show-heading">

        <div class="main-heading">
          <h2><%= blog.body.header.mainHeading %></h2>
        </div>

        <div class="intro-paragraph">
          <p><%= blog.body.content.introParagraph %></p>
        </div>

      </div>

      <div class="show-content">
        <div class="section-one">

          <p><%= blog.body.content.sectionOne.paragraphOne %></p>

          <p><%= blog.body.content.sectionOne.paragraphTwo %></p>
          
        </div>

        <div class="section-two">
          <h3><%= blog.body.content.sectionTwo.mediumHeading %></h3>

          <p><%= blog.body.content.sectionTwo.paragraphThree %></p>

          <p><%= blog.body.content.sectionTwo.paragraphFour %></p>

          <p><%= blog.body.content.sectionTwo.paragraphFive %></p>
        </div>

        <div class="section-three">
          <h4><%= blog.body.content.sectionThree.smallHeading %></h4>

          <p class="text-wrap"><%= blog.body.content.sectionThree.paragraphSix %></p>

          <p><%= blog.body.content.sectionThree.paragraphSeven %></p>

          <h5><%= blog.body.content.sectionThree.smallerHeading %></h5>

          <p class="text-wrap"><%= blog.body.content.sectionThree.paragraphEight %></p>

          <img src="<%= blog.body.content.sectionThree.blogImage %>" alt="">

          <p><%= blog.body.content.sectionThree.paragraphNine %></p>
        </div>

        <div class="section-four">
          <h6><%= blog.body.content.sectionFour.smallestHeading %></h6>
          <p><%= blog.body.content.sectionFour.lastParagraph %></p>
        </div>

        <div class="show-backlinks">
          <h3>Did you read these already?</h3>
          <p>Discover more posts in 
            <!-- display dynamic blog tag by use of a conditional (if/else statement) -->
            
              <% if(blog.tag == "Life") { %>
              <a href="#" class="green"><%= blog.tag %></a>
              <% } else if (blog.tag == "Code") { %>
              <a href="#" class="yellow"><%= blog.tag %></a>
              <% } else if (blog.tag == "Music") { %>
              <a href="#" class="purple"><%= blog.tag %></a>
              <% } else if (blog.tag == "Self") { %>
              <a href="#" class="red"><%= blog.tag %></a>
              <% } %>
            
          </p>

          <div class="backlinks-cards">
            <% taggedBlogs.forEach((taggedBlog) => { %>
              <div class="backlinks-card">
                <div class="backlinks-header">
                  <a href="#" class="header-image">
                    <img src="<%= taggedBlog.body.header.mainImage %>" alt="">
                  </a>

                  <!-- display dynamic blog tag by use of a conditional (if/else statement) -->
                  <div class="tag-links">
                    <% if(taggedBlog.tag == "Life") { %>
                    <a href="#" class="green"><%= taggedBlog.tag %></a>
                    <% } else if (taggedBlog.tag == "Code") { %>
                    <a href="#" class="yellow"><%= taggedBlog.tag %></a>
                    <% } else if (taggedBlog.tag == "Music") { %>
                    <a href="#" class="purple"><%= taggedBlog.tag %></a>
                    <% } else if (taggedBlog.tag == "Self") { %>
                    <a href="#" class="red"><%= taggedBlog.tag %></a>
                    <% } %>
                  </div>
                </div>

                <div class="backlinks-body">
                  <h4><a href="#"><%= taggedBlog.body.header.mainHeading %></a></h4>
                  <p><%= taggedBlog.body.content.introParagraph %></p>
                  <a href="#">Read More</a>
                </div>

              </div>
            <% }) %>
          </div>

        </div>
      </div>
    </div>

    <footer>
      <p>
        Copyright &copy; <a href="#">THP</a>. Inspired by <a href="http://template-my-life.webflow.io/"
           target="_blank"> Webflow </a>
      </p>
    </footer>
  </div>

</div>

</div>


<% include ../partials/footer %>