<% include ../partials/header %>

<div class="container">

  <div class="l-container">

    <span class="menu-icon" onclick="openMenu()">&#9776;</span>

  </div>

  <div class="menu-container" id="navbar">

    <span class="closebtn" onclick="closeMenu()">&times</span>

    <div class="menu-content">
      <a href="/blogs">Posts</a>
      <!-- will create an about page with mission statement and what-not -->
      <a href="/blogs/new">Create</a>
      <a href="#">About</a>
      <!-- this will link to several ideas about how we can impact meaningful change in our communities -->
      <a href="/projects">Projects</a>
      <!-- create a contact us panel with socials -->
      <a href="#">Contact Us</a>
      <% if (!currentUser) { %>
      <a href="/signup">Sign Up</a>
      <a href="/login">Login</a>
      <% } %>
      <% if (currentUser) { %>
      <a href="/logout">Logout</a>
      <% } %>
    </div>
  </div>

  <!-- declare show hero background image as inline css to access ejs data -->
  <div class="heroTwo" style="background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .9)), url('<%= blog.body.header.mainImage %>'); background-size: cover; background-position: center; background-repeat: no-repeat;">

    <div class="heroTwo__headerTwo">
      <h2 class="heroTwo__headerTwo--mainTitle"><%= blog.author.bio %></h2>

      <div class="heroTwo__body">
        <div class="heroTwo__body--cardImageContainer">
          <!-- card image points to  user image from the user schema -->
          <img class="heroTwo__body--cardImage"
            src="<%= blog.author.avatarUrl %>"
            alt="urafro blog author image">
        </div>

        <div class="heroTwo__body--cardText">
          <!-- generic mini-card h5 heading will be replaced by blog author from blog schema-->
          <h3 class="heroTwo__body--cardTitle">
            <a class="heroTwo__body--cardTitleLink" href="#"><%= blog.author.username %></a>
          </h3>
          <p class="heroTwo__body--cardDate caveat"><%= blog.createdAt.toLocaleDateString() %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="showcaseTwo">
    <!--
      showing author's menu when author's logged in
    -->
    <% if(currentUser && currentUser._id.equals(blog.author.id)) { %>
    <ul class="showcaseTwo__admin">
      <!-- edit current blog url -->
      <li class="showcaseTwo__admin--li">
        <a class="showcaseTwo__admin--link" href="/blogs/<%= blog._id %>/edit">
          <span class="showcaseTwo__admin--tooltip btn btn-ghost">Edit</span>
          <i class="far fa-edit showcaseTwo__admin--i"></i>
        </a>
      </li>        
      <!-- add new blog url -->
      <li class="showcaseTwo__admin--li">
        <a class="showcaseTwo__admin--link" href="/blogs/new">
          <span class="showcaseTwo__admin--tooltip btn btn-ghost">New</span>
          <i class="far fa-file showcaseTwo__admin--i"></i>
        </a>
      </li>        
      <!-- Delete opened blog -->
      <li class="delete showcaseTwo__admin--li">
        <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
            <button class="showcaseTwo__admin--button">
            <i class="fas fa-trash showcaseTwo__admin--i"></i>
          </button>
        </form>
      </li>

      <!-- link to youtube episode -->
      <li class="showcaseTwo__admin--li">
        <a class="showcaseTwo__admin--link" href="<%= blog.body.content.sectionFive.youtubeLink %>" target="_blank">
          <span class="showcaseTwo__admin--tooltip bdb bdb-ghost">Youtube</span>
          <i class="fab fa-youtube showcaseTwo__admin--i"></i>
        </a>
      </li>
      
      <!-- link to reddit discussion -->
      <li class="showcaseTwo__admin--li">
        <a class="showcaseTwo__admin--link" href="<%= blog.body.content.sectionFive.redditLink %>" target="_blank">
          <span class="showcaseTwo__admin--tooltip bdb bdb-ghost">Reddit</span>
          <i class="fab fa-reddit-alien showcaseTwo__admin--i"></i>
        </a>
      </li>

      <!-- link to twitter hashtag -->
      <li class="showcaseTwo__admin--li">
        <a class="showcaseTwo__admin--link" href="<%= blog.body.content.sectionFive.twitterLink %>" target="_blank">
          <span class="showcaseTwo__admin--tooltip bdb bdb-ghost">Twitter</span>
          <i class="fab fa-twitter showcaseTwo__admin--i"></i>
        </a>
      </li>

      <!-- link to instagram hashtag/challenge -->
      <li class="showcaseTwo__admin--li">
        <a class="showcaseTwo__admin--link" href="<%= blog.body.content.sectionFive.instagramLink %>" target="_blank">
          <span class="showcaseTwo__admin--tooltip bdb bdb-ghost">Insta</span>
          <i class="fab fa-instagram showcaseTwo__admin--i"></i></i>
        </a>
      </li>

      <!-- link to external story -->
      <li class="showcaseTwo__admin--li">
        <a class="showcaseTwo__admin--link" href="<%= blog.body.content.sectionFive.externalLink %>" target="_blank">
          <span class="showcaseTwo__admin--tooltip bdb bdb-ghost">Link</span>
          <i class="fas fa-link showcaseTwo__admin--i"></i></i>
        </a>
      </li>
    </ul>
    <% } %>

    <% if((!currentUser || !currentUser._id.equals(blog.author.id)) && blog.body.content.sectionFive) { %>
    <div class="show-menu">
      <ul class="showcaseTwo__admin">
        <!-- link to youtube episode -->
        <li class="showcaseTwo__admin--li">
          <a class="showcaseTwo__admin--link" href="<%= blog.body.content.sectionFive.youtubeLink %>" target="_blank">
            <span class="showcaseTwo__admin--tooltip bdb bdb-ghost">Youtube</span>
            <i class="fab fa-youtube showcaseTwo__admin--i"></i>
          </a>
        </li>
        
        <!-- link to reddit discussion -->
        <li class="showcaseTwo__admin--li">
          <a class="showcaseTwo__admin--link" href="<%= blog.body.content.sectionFive.redditLink %>" target="_blank">
            <span class="showcaseTwo__admin--tooltip bdb bdb-ghost">Reddit</span>
            <i class="fab fa-reddit-alien showcaseTwo__admin--i"></i>
          </a>
        </li>

        <!-- link to twitter hashtag -->
        <li class="showcaseTwo__admin--li">
          <a class="showcaseTwo__admin--link" href="<%= blog.body.content.sectionFive.twitterLink %>" target="_blank">
            <span class="showcaseTwo__admin--tooltip bdb bdb-ghost">Twitter</span>
            <i class="fab fa-twitter showcaseTwo__admin--i"></i>
          </a>
        </li>

        <!-- link to instagram hashtag/challenge -->
        <li class="showcaseTwo__admin--li">
          <a class="showcaseTwo__admin--link" href="<%= blog.body.content.sectionFive.instagramLink %>" target="_blank">
            <span class="showcaseTwo__admin--tooltip bdb bdb-ghost">Insta</span>
            <i class="fab fa-instagram showcaseTwo__admin--i"></i></i>
          </a>
        </li>

        <!-- link to external story -->
        <li class="showcaseTwo__admin--li">
          <a class="showcaseTwo__admin--link" href="<%= blog.body.content.sectionFive.externalLink %>" target="_blank">
            <span class="showcaseTwo__admin--tooltip bdb bdb-ghost">Link</span>
            <i class="fas fa-link showcaseTwo__admin--i"></i></i>
          </a>
        </li>

      </ul>
    </div>
    <% } %>

    <div class="blog">
      <div class="blog__heading">
        <h2 class="blog__heading--mainHeading">
          <%= blog.body.header.mainHeading %>
        </h2>
        <p class="blog__heading--paragraph">
          <%= blog.body.content.introParagraph %>
        </p>
      </div>

      <div class="blog__body">
        <div class="blog__body--sectionOne">
          <p class="blog__body--paragraph"><%= blog.body.content.sectionOne.paragraphOne %></p>
          <p class="blog__body--paragraph"><%= blog.body.content.sectionOne.paragraphTwo %></p>
        </div>

        <div class="blog__body--sectionTwo">
          <h3 class="blog__heading--h3"><%= blog.body.content.sectionTwo.mediumHeading %></h3>
          <p class="blog__body--paragraph"><%= blog.body.content.sectionTwo.paragraphThree %></p>
          <p class="blog__body--paragraph"><%= blog.body.content.sectionTwo.paragraphFour %></p>
          <p class="blog__body--paragraph"><%= blog.body.content.sectionTwo.paragraphFive %></p>
        </div>

        <div class="blog__body--sectionThree">
          <h4 class="blog__heading--h4"><%= blog.body.content.sectionThree.smallHeading %></h4>
          <p class="text-wrap blog__body--paragraph"><%= blog.body.content.sectionThree.paragraphSix.trim() %></p>
          <p class="blog__body--paragraph"><%= blog.body.content.sectionThree.paragraphSeven %></p>
          <h5 class="blog__heading--h5"><%= blog.body.content.sectionThree.smallerHeading %></h5>
          <p class="text-wrap blog__body--paragraph"><%= blog.body.content.sectionThree.paragraphEight.trim() %></p>
          <img src="<%= blog.body.content.sectionThree.blogImage %>" alt="urafro | <%= blog.body.header.mainHeading %> image2">
          <p class="blog__body--paragraph"><%= blog.body.content.sectionThree.paragraphNine %></p>
        </div>

        <div class="blog__body--sectionFour">
          <h6 class="blog__heading--h6"><%= blog.body.content.sectionFour.smallestHeading %></h6>
          <p class="blog__body--paragraph"><%= blog.body.content.sectionFour.lastParagraph %></p>
        </div>

        <!-- 
          =================== 
                Comments 
          ===================
        -->

        <!-- 
          ========================
                NEW COMMENTS
          ========================
        -->
        <% if(blog.comments.length <= 0) { %>
          <form class="new-comment-form" action="/blogs/<%= blog.id %>/comments" method="POST">
            <div class="row comments-input">
              <div class="section zero">
                <div class="section__inputs new-comment">
                  <h2 class="section__inputs--heading">Leave A Reply</h2>
                  <div class="inputsBox">
                    <label class="inputsBox--label" for="commentText">Comment*</label>
                    <textarea class="inputsBox--input inputsBox--textarea" name="commentText" id="commentText" cols="30" rows="5" placeholder="head over to our IG, Twitter or Reddit to comment on this post... or click on the sticky links to the bottom right of your screen to be taken there ez"
                      required></textarea>
                    <!-- this link should redirect to the best available option. Youtube preferrably when that's sorted -->
                    <a href="<%= blog.body.content.sectionFive.instagramLink %>" target="_blank" class="btn btn-full form--btn">take me there</a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        <% } %>

        <!-- BACKLINKS - Show Related Blogs -->
        <% if(taggedBlogs.length > 0) { %>
          <div class="backlinks">
            <h3 class="backlinks--heading">Did you read these already?</h3>
            <p class="backlinks__tag">Discover more posts in
              <!-- display dynamic blog tag by use of a conditional (if/else statement) -->
              <% if(blog.tag == "Self") { %>
              <a href="#" class="backlinks__tag--green backlinks__tag--link"><%= blog.tag %></a>
              <% } else if (blog.tag == "Society") { %>
              <a href="#" class="backlinks__tag--yellow backlinks__tag--link"><%= blog.tag %></a>
              <% } else if (blog.tag == "Tech") { %>
              <a href="#" class="backlinks__tag--purple backlinks__tag--link"><%= blog.tag %></a>
              <% } else if (blog.tag == "Money") { %>
              <a href="#" class="backlinks__tag--red backlinks__tag--link"><%= blog.tag %></a>
              <% } %>
            </p>
          
            <div class="backlinks__cards">
              <!-- Show Related Blogs -->
              <% taggedBlogs.forEach((taggedBlog) => { %>
              <div class="backlinkCard">
                <div class="backlinkCard__header">
                  <a href="/blogs/<%= taggedBlog.id %>">
                    <img class="backlinkCard__header--image" src="<%= taggedBlog.body.header.mainImage %>" alt="urafro blog | <%= taggedBlog.body.header.mainHeading %> image1">
                  </a>
          
                  <!-- display dynamic blog tag -->
                  <div class="backlinkCard__tag">
                    <% if(taggedBlog.tag == "Self") { %>
                    <a href="#" class="backlinkCard__tag--link backlinkCard__tag--green"><%= taggedBlog.tag %></a>
                    <% } else if (taggedBlog.tag == "Society") { %>
                    <a href="#" class="backlinkCard__tag--link backlinkCard__tag--yellow"><%= taggedBlog.tag %></a>
                    <% } else if (taggedBlog.tag == "Tech") { %>
                    <a href="#" class="backlinkCard__tag--link backlinkCard__tag--purple"><%= taggedBlog.tag %></a>
                    <% } else if (taggedBlog.tag == "Money") { %>
                    <a href="#" class="backlinkCard__tag--link backlinkCard__tag--red"><%= taggedBlog.tag %></a>
                    <% } %>
                  </div>
                </div>
          
                <div class="backlinkCard__body">
                  <h4 class="backlinkCard__body--heading">
                    <a class="backlinkCard__body--headingLink" href="/blogs/<%= taggedBlog.id %>">
                      <%= taggedBlog.body.header.mainHeading %>
                    </a>
                  </h4>
                  <p class="backlinkCard__body--paragraph">
                    <%= taggedBlog.body.content.introParagraph.substr(0, 78) %> ...
                  </p>
                  <a class="backlinkCard__body--link" href="/blogs/<%= taggedBlog.id %>">Read More</a>
                </div>
              </div>
              <% }) %>
            </div>
          </div>
        <% } %>
      </div>
    </div>

    <footer class="showcaseTwo__footer">
      <p class="showcaseTwo__footer--paragraph">
        Copyright &copy; <span>urAfro</span>. All rights reserved.
      </p>
    </footer>
  </div>

</div>

</div>

<% include ../partials/footer %>