<% include ../partials/header %>

<div class="container">

  <div class="l-container">

    <span class="menu-icon" onclick="openMenu()">&#9776;</span>

  </div>

  <div class="menu-container" id="navbar">

    <span class="closebtn" onclick="closeMenu()">&times</span>

    <div class="menu-content">
      <a href="/blogs">Home</a>
      <!-- will create an about page with mission statement and what-not -->
      <a href="/blogs/new">Create</a>
      <a href="#">About</a>
      <!-- this will link to several ideas about how we can impact meaningful change in our communities -->
      <a href="#">Projects</a>
      <!-- create a contact us panel with socials -->
      <a href="#">Contact Us</a>
      <% if (!currentUser) { %>
      <a href="/signup">Sign Up</a>
      <a href="/login">Login</a>
      <% } %>
      <% if (currentUser) { %>
      <a href="/logout">Logout</a>
      <% } %>
    </div>
  </div>

  <!-- declare show hero background image as inline css to access ejs data -->
  <div class="hero-2" style="background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('<%= blog.body.header.mainImage %>'); background-position: center; background-repeat: no-repeat;">
      
      <nav role="navigation">

        <ul>
          <% if(currentUser && currentUser._id.equals(blog.author.id)) { %>
          <!-- user dashboard link -->
          <li><a href="#"><i class="fas fa-user-cog"></i></a>

            <ul class="dropdown">

              <!-- link to blog insights-->
              <!-- <a href="#"><i class="far fa-chart-bar"></i></a> -->

              <a href="/blogs/new">
                <li><i class="far fa-file"></i></li>
              </a>

              <a href="/blogs/<%= blog._id %>/edit">
                <li><i class="far fa-edit"></i></li>
              </a>

              <!-- <a href="#">
                link to blog resources
              <li><i class="fas fa-link"></i></li>
            </a> -->

              <!-- blog delete button-->
              <li class="delete">
                <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                  <button><i class="far fa-trash-alt"></i></button>
                </form>
              </li>

            </ul>
          </li>
          <% } %>

          <!-- reader-mode trigger -->
          <li><a href="#"><i class="fas fa-book-reader"></i></a></li>
        </ul>
      </nav>

    <div class="header-2">
      <h2><%= blog.body.header.mainHeading %></h2>

      <div class="author-card">
        <div class="card-image">
          <!-- generic card image will be replaced by user image from the user schema -->
          <img
            src="<%= blog.author.avatarUrl %>"
            alt="author image">
        </div>

        <div class="card-text">
          <!-- generic mini-card h5 heading will be replaced by blog author from blog schema-->
          <h3><a href="#"><%= blog.author.username %></a></h3>
          <p><%= blog.createdAt.toLocaleDateString() %></p>
        </div>
      </div>
      
    </div>
  </div>

  <div class="showcase-2">

    <div class="show-wrapper">
      <div class="show-heading">

        <div class="main-heading">
          <h2><%= blog.body.header.mainHeading %></h2>
        </div>

        <div class="intro-paragraph">
          <p><%= blog.body.content.introParagraph %></p>
        </div>

      </div>

      <div class="show-content">
        <div class="section-one">

          <p><%= blog.body.content.sectionOne.paragraphOne %></p>

          <p><%= blog.body.content.sectionOne.paragraphTwo %></p>
          
        </div>

        <div class="section-two">
          <h3><%= blog.body.content.sectionTwo.mediumHeading %></h3>

          <p><%= blog.body.content.sectionTwo.paragraphThree %></p>

          <p><%= blog.body.content.sectionTwo.paragraphFour %></p>

          <p><%= blog.body.content.sectionTwo.paragraphFive %></p>
        </div>

        <div class="section-three">
          <h4><%= blog.body.content.sectionThree.smallHeading %></h4>

          <p class="text-wrap"><%= blog.body.content.sectionThree.paragraphSix %></p>

          <p><%= blog.body.content.sectionThree.paragraphSeven %></p>

          <h5><%= blog.body.content.sectionThree.smallerHeading %></h5>

          <p class="text-wrap"><%= blog.body.content.sectionThree.paragraphEight %></p>

          <img src="<%= blog.body.content.sectionThree.blogImage %>" alt="">

          <p><%= blog.body.content.sectionThree.paragraphNine %></p>
        </div>

        <div class="section-four">
          <h6><%= blog.body.content.sectionFour.smallestHeading %></h6>
          <p><%= blog.body.content.sectionFour.lastParagraph %></p>
        </div>

        <!-- 
          =================== 
                Comments 
          ===================
        -->
        <% if(blog.comments.length > 0 ) { %>
    
          <ul class="comment-section">

            <% blog.comments.forEach((comment) => { %>
              <li class="comment author-comment">

                <div class="info">
                  <a href="#"><%= comment.author.username %></a>
                  <span>3 hours ago</span>
                </div>

                <a class="avatar" href="#">
                  <img src="<%= comment.author.avatarUrl %>" width="35" alt="Profile Avatar" title="Comment Author" />
                </a>

                <p>
                  <%= comment.text %>
                </p>

              </li>

              <% if(comment.replies.length > 0) { %>

                <% comment.replies.forEach((reply) => { %>
                  <li class="comment user-comment">

                    <div class="info">
                      <a href="#"><%= reply.author.username %></a>
                      <span>1 hour ago</span>
                    </div>

                    <a class="avatar" href="#">
                      <img src="<%= reply.author.avatarUrl %>" width="35" alt="Profile Avatar" title="Bradley Jones" />
                    </a>

                    <p>
                      <%= reply.text %>
                    </p>

                  </li>
                <% }) %>

              <% } %>

            <% }) %>

            <li class="write-new">

              <form action="#" method="post">

                <textarea placeholder="Write your comment here" name="comment"></textarea>

                <div>
                  <img src="https://i.pravatar.cc/" width="35" alt="Profile of Bradley Jones" title="Bradley Jones" />
                  <button type="submit">Submit</button>
                </div>

              </form>

            </li>

          </ul>
        <% } %>

        <!-- 
          ========================
             NEW BLOG COMMENTS
          ========================
        -->
        <% if(blog.comments.length <= 0) { %>
          <form action="/blogs/<%= blog.id %>/comments" method="POST">
            <div class="row comments-input">

              <div class="section zero">

                <div class="content-inputs new-comment">

                  <h2>Leave A Reply</h2>

                  <div class="box-content">

                    <!-- Add || Remove username input field if user is logged in or out -->
                    <% if(!currentUser) { %>
                      <label for="username">Username*</label>
                      <input type="text" name="username" id="username" placeholder="flawed69" required>
                    <% } %>

                    <label for="commentText">Comment*</label>

                    <textarea name="commentText" id="commentText" cols="30" rows="5" placeholder="spit your fire"
                      required></textarea>

                    <input type="submit" value="say it">
                  </div>

                </div>

              </div>
            </div>
          </form>
        <% } %>

        <% if(taggedBlogs.length > 0) { %>
          <div class="show-backlinks">
            <h3>Did you read these already?</h3>
            <p>Discover more posts in
              <!-- display dynamic blog tag by use of a conditional (if/else statement) -->
          
              <% if(blog.tag == "Life") { %>
              <a href="#" class="green"><%= blog.tag %></a>
              <% } else if (blog.tag == "Code") { %>
              <a href="#" class="yellow"><%= blog.tag %></a>
              <% } else if (blog.tag == "Music") { %>
              <a href="#" class="purple"><%= blog.tag %></a>
              <% } else if (blog.tag == "Self") { %>
              <a href="#" class="red"><%= blog.tag %></a>
              <% } %>
          
            </p>
          
            <div class="backlinks-cards">
              <% taggedBlogs.forEach((taggedBlog) => { %>
              <div class="backlinks-card">
                <div class="backlinks-header">
                  <a href="/blogs/<%= taggedBlog.id %>" class="header-image">
                    <img src="<%= taggedBlog.body.header.mainImage %>" alt="">
                  </a>
          
                  <!-- display dynamic blog tag by use of a conditional (if/else statement) -->
                  <div class="tag-links">
                    <% if(taggedBlog.tag == "Life") { %>
                    <a href="#" class="green"><%= taggedBlog.tag %></a>
                    <% } else if (taggedBlog.tag == "Code") { %>
                    <a href="#" class="yellow"><%= taggedBlog.tag %></a>
                    <% } else if (taggedBlog.tag == "Music") { %>
                    <a href="#" class="purple"><%= taggedBlog.tag %></a>
                    <% } else if (taggedBlog.tag == "Self") { %>
                    <a href="#" class="red"><%= taggedBlog.tag %></a>
                    <% } %>
                  </div>
                </div>
          
                <div class="backlinks-body">
                  <h4><a href="/blogs/<%= taggedBlog.id %>"><%= taggedBlog.body.header.mainHeading %></a></h4>
                  <p><%= taggedBlog.body.content.introParagraph.substr(0, 78) %> ...</p>
                  <a href="/blogs/<%= taggedBlog.id %>">Read More</a>
                </div>
          
              </div>
              <% }) %>
            </div>
          
          </div>
        <% } %>

      </div>
    </div>

    <footer>
      <p>
        Copyright &copy; <a href="#q">THP</a>. Inspired by <a href="http://template-my-life.webflow.io/"
           target="_blank"> Webflow </a>
      </p>
    </footer>
  </div>

</div>

</div>

<% include ../partials/footer %>